core.autocrlf=false

**/* = linguist-vendored=false linguist-documentation=false linguist-detectable=false diff
/manual/**/* = linguist-detectable=true
/manual/plaintext/**/* = linguist-documentation=true
/src/**/* = linguist-detectable=true

*.c = linguist-language=C
*.h = linguist-language=C
*.cc = linguist-language=C++
*.hh = linguist-language=C++
*.H = linguist-language=C
*.cnode = linguist-language=C
*.ccnode = linguist-language=C++
*.nfo = binary diff
