//idek what to do with these yet. are they headers or transclusions?

#if 1
template<typename ... argv>
bool exists(std::map<argv...> * adhoc,std::map<argv...>::key_type query) {
	return (adhoc->find(query) != adhoc->end());
	}
#else
template<typename ... argv>
bool exists(std::map<argv...> * adhoc,std::map<argv...>::key_type query) {
	try {
		adhoc->at(query);
	} catch (std::out_of_bounds) {
		return 0;
		}
	return 1;
	}
#endif
